<div class="card">
  <div class="card-header">
    NPC Helfer
  </div>
  <div class="card-body">
    <div class="card-block">
      <h4 class="card-title">Namensgenerator</h4>
      <p class="card-text" id="results"></p>
      <!--
      <div class="text-right">
        <button (click)="grabNames()" type="button" class="btn btn-danger">
          Heldennamen generieren
        </button>
      </div>
    -->
      <div class="btn-group w100 align-items-center mt-1">
        <a href="http://dsa.itemcards.com/garethi/allgemein/maennlich" class="btn btn-outline-info">Menschen</a>
        <a href="http://dsa.itemcards.com/rogolan" class="btn btn-outline-info">Zwergen</a>
        <a href="http://dsa.itemcards.com/thorwalsch" class="btn btn-outline-info">Thorwaler</a>
        <a href="http://dsa.itemcards.com/orte" class="btn btn-outline-info">Orte</a>
        <a href="http://dsa.itemcards.com/diverses/laden" class="btn btn-outline-info">Laden</a>
        <a href="http://dsa.itemcards.com/diverses/tavernen" class="btn btn-outline-info">Tavernen</a>
        <a href="http://dsa.itemcards.com/diverses/wetter" class="btn btn-outline-info">Wetter</a>
        <a href="http://dsa.itemcards.com/items" class="btn btn-outline-info">Items</a>
        <a href="http://dsa.itemcards.com/diverses/waffen" class="btn btn-outline-info">Waffen</a>
        <a href="http://dsa.itemcards.com/diverses" class="btn btn-outline-info">Diverses</a>
      </div>
    </div>
  </div>
</div>