<h1>{{title}}</h1>
<nav class="btn-group">
  <a routerLink="/dashboard" class="btn btn-outline-dark" role="button" aria-pressed="true">Dashboard</a>
  <a routerLink="/heroes" class="btn btn-outline-dark" role="button" aria-pressed="true">Heroes</a>
  <a routerLink="/loot" class="btn btn-outline-dark" role="button" aria-pressed="true">Loot</a>
  <a routerLink="/random" class="btn btn-outline-dark" role="button" aria-pressed="true">Random</a>
  <a routerLink="/music" class="btn btn-outline-dark" role="button" aria-pressed="true">Musik</a>

</nav>
<router-outlet></router-outlet>

<!--Debugging messages: <app-messages></app-messages> -->
