<!--

  <h3>Top Heroes</h3>
  <div class="grid grid-pad">
    <a *ngFor="let hero of heroes" class="col-1-4"
        routerLink="/detail/{{hero.id}}">
      <div class="module hero">
        <h4>{{hero.name}}</h4>
      </div>
    </a>
  </div>

-->
<hr>

<app-hero-search></app-hero-search>

<hr>

<app-hero-names></app-hero-names>

<hr>


<div class="card" id="titlecard">
  <div class="card-header">Allgemeines</div>
  <div class="card-body">
    <h4 class="card-title">Nützliche allgemeine Links</h4>
    <div class="card-text">
      <div class="row">
        
        <div class="card col-sm-3">
          <img class="card-img-top" src="assets/img/dsa-regelwiki.jpg" alt="Card image">
          <div class="card-body">
            <h3 class="card-title">DSA Regelwiki</h3>
            <p class="card-text">Allerlei Regeln, Werte und Infos zu DSA5</p>
          </div>
          <div class="w-100 card-footer">
            <a href="http://www.ulisses-regelwiki.de/index.php/bestiarium.html" class="btn btn-outline-info btn-block">DSA Regelwiki</a>
          </div>
        </div>

        <div class="card col-sm-3">
          <img class="card-img-top" src="assets/img/dsa-regelreferenzgenerator.jpg" alt="Card image">
          <div class="card-body">
            <h3 class="card-title">Regelreferenz-Generator</h3>
            <p class="card-text">Heldendaten wie Fähigkeiten, Vorteile und Nachteile zusammenstellen</p>
          </div>
          <div class="w-100 card-footer">
            <a href="https://dsa-info.de/generator/" class="btn btn-outline-info btn-block">Regelreferenz-Generator</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<hr>

<app-story-notes></app-story-notes>